:root {
  --primary_color: #ff206e;
  --main_font: "Open Sans", sans-serif;
}
.pink__text {
  color: var(--primary_color);
}

body {
  font-family: var(--main_font);
  background-image: url("./images/light_dot.jpg");
  background-attachment: fixed;
}

/* navbar styles */
.navbar .navbar-brand {
  letter-spacing: 2px;
}
.nav-item .nav-link {
  transition: all 0.35s ease-in-out;
  font-size: 14px;
}
.nav-item .nav-link.active {
  color: var(--primary_color);
}

/* hero section styles */
.hero {
  background-image: url("./images/hero_img.jpg");
  background-size: cover;
  background-position: center;
}
.hero .hero-content h1 {
  font-weight: 800;
  font-size: 3rem;
}
.hero-icons {
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
.hero-icons a {
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid rgb(34, 34, 34);
}
.hero-icons a:hover {
  border: 1px solid white;
}
@media screen and (max-width: 768px) {
  .hero .hero-content h1 {
    font-size: 2.25rem;
  }
}
/* about section styles */
.about {
  padding: 6rem 0;
}
.about-title h2 {
  font-weight: 800;
  font-size: 5rem;
  color: #f1f1f1;
  z-index: -1;
  letter-spacing: 3px;
}
.about-title h3 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 3px;
}
.about-title-text p {
  font-size: 0.875rem;
  margin-bottom: 4rem;
}
.about .about-image {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
