:root {
  --primary_color: #ff206e;
  --main_font: "Open Sans", sans-serif;
}
.pink__text {
  color: var(--primary_color);
}

body {
  font-family: var(--main_font);
  background-image: url("./images/public/light_dot.jpg");
  background-attachment: fixed;
}
/* Section Title and text Styles */
.section-title h2 {
  font-weight: 800;
  font-size: 5rem;
  color: #f1f1f1;
  z-index: 0;
  letter-spacing: 3px;
}
.section-title h3 {
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 3px;
  z-index: 1;
}
.section-text p {
  font-size: 0.875rem;
  margin-bottom: 4rem;
  color: #212529;
}
/* navbar styles */
.navbar .navbar-brand {
  letter-spacing: 2px;
}
.nav-item .nav-link {
  transition: all 0.35s ease-in-out;
  font-size: 14px;
}
.nav-item .nav-link.active {
  color: var(--primary_color);
}

/* hero section styles */
.hero {
  background-image: url("./images/hero/hero_img.jpg");
  background-size: cover;
  background-position: center;
}
.hero .hero-content h1 {
  font-weight: 800;
  font-size: 3rem;
}
.hero-icons {
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
.hero-icons a {
  transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
  border: 1px solid rgb(34, 34, 34);
}
.hero-icons a:hover {
  border: 1px solid white;
}
@media screen and (max-width: 768px) {
  .hero .hero-content h1 {
    font-size: 2.25rem;
  }
}
/* about section styles */
.about {
  padding: 6rem 0;
}
.about .about-image {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}
/* skills section styles */
.skills {
  padding: 6rem 0;
}
.skills h2,
.contact h2 {
  color: #222;
}
.skills .section-text p,
.contact .section-text p {
  color: #aaa;
}
.skill-circle {
  position: relative;
  width: 175px;
  height: 175px;
  margin: auto;
}

svg {
  transform: rotate(-90deg);
  /* SVG = إطار الدائرة */
}

circle {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
}

.bg {
  stroke: #222;
}

.progress {
  stroke: #ff2b7a;
  /* ليش 471 ؟ 
  الدائرة الي ضفناها قطرها 87.5، ولما نحسب محيطها بطلع تقريبا 471
  فاحنا بدنا نعرف طول الاطار الي رح نحتاج نلونه */
  stroke-dasharray: 471; /* طول الاطار الكلي الاسود*/
  stroke-dashoffset: 471; /* طول الاطار الي رح يظل اسود في البداية وتتغير قيمته حسب النسبة ويتلون*/
  animation: fill 1.8s ease forwards;
}

/* النسب */
.p93 {
  stroke-dashoffset: calc(471 - (471 * 93) / 100);
}
.p88 {
  stroke-dashoffset: calc(471 - (471 * 88) / 100);
}
.p95 {
  stroke-dashoffset: calc(471 - (471 * 95) / 100);
}
.p89 {
  stroke-dashoffset: calc(471 - (471 * 89) / 100);
}

.skill-text {
  inset: 0;
  /* inset: 0; means the element will be positioned absolutely within its container
  instead of using top=0, right=0, bottom=0, and left =0  separately. */
}

.skill-text h6 {
  font-size: 14px;
}

.skill-text span {
  font-size: 24px;
}

@keyframes fill {
  from {
    stroke-dashoffset: 471;
  }
}
/* portfolio section styles */
.portfolio {
  padding: 6rem 0;
}
.portfolio .nav-tabs .nav-link {
  color: black;
  transition: all 0.35s ease-in-out;
  font-family: var(--main_font);
}
.portfolio .nav-tabs .nav-link.active,
.portfolio .nav-tabs .nav-link:hover {
  color: var(--primary_color);
  border: none;
}
.portfolio-item img {
  transition: ease 0.3s ease;
}

/* contact section styles */
.contact {
  padding: 6rem 0;
}
.contact .section-text p {
  color: #aaa;
}
.contact .form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #888;
  transition: all 0.35s ease-in-out;
}
.contact .form-control:focus {
  box-shadow: none;
  border-color: var(--primary_color);
}
.contact .form-control::placeholder {
  color: #888;
}
.contact .btn-success {
  border-radius: 0;
  transition: all 0.35s ease-in-out;
}
.contact .btn-success:hover,
.contact .btn-success:focus {
  background-color: var(--primary_color) !important;
}
/* Footer Styles */
footer p {
  font-size: 12px;
}
